* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#link_list a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: black;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Shrikhand', cursive;

}

#burger div {
    width: 25px;
    height: 3px;
    background-color: brown;
    margin: 5px;
    border-radius: 20%;

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: gold;
    grid-area: na;
    position: sticky;
    top: 0
}

#link_list {
    z-index: -1;
    background-color: gold;
    height: 400px;
    width: 200px;
    position: absolute;
    top: -400px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s;
}

#link_list li {
    list-style: none;
}

#burger {
    margin-right: 50px;
    cursor: pointer;
}

.link_list_visible {
    transform: translateY(500px);
}

.burger_in_x #burger_line_2 {
    opacity: 0;
}

.burger_in_x #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_in_x #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 400px 400px 400px 400px 80px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "s4 s4"
        "fo fo"
        ;
}

header {
    grid-area: he;
    background-color: aquamarine;
}

#section_1 {
    z-index: -2;
    grid-area: s1;
    background-color: paleturquoise;
}

#section_2 {
    grid-area: s2;
    background-color: orchid;
}

#section_3 {
    grid-area: s3;
    background-color: pink;
}

#section_4 {
    grid-area: s4;
    background-color: firebrick;
}

footer {
    grid-area: fo;
    background-color: lavender;
}



   

@media screen and (min-width: 700px) {
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        padding: 50px;
        background-color: salmon;
    }
        
    #burger {
        display: none;
    
    }
    
    #grid_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 400px 400px 100px;
        grid-template-areas: 
        "na na"
        "he he"
        "s1 s2"
        "s3 s4"
        "fo fo"
        ;
    }
    
    #link_list {
        z-index: 0;
        height: auto;
        width: 100%;
        top: 25px;
        right: 0px;
        flex-direction: row;
        justify-content: space-around;
        transition: none;
    }
    
    .link_list_visible {
        transform: translateY(0px);
    }
    
    
}